.responsive {
  position: sticky;
  width: 47%;
  height: auto;
  top: 0px;
  z-index: 1;
}

.bg-dark {
  background-color: #000000 !important;
}

.navbar-dark {
  background-color: #000000 !important;
}

.sticky {
  background-color: #000000 !important;
  top: 0;
  left: 0;
  z-index: 10;
  right: 0;
}

nav.navbar.navbar-expand-sm.bg-dark {
  top: 0;
  position: sticky;
}
.navbar.navbar-expand-sm.bg-dark.navbar-dark.sticky-header .nav-link {
  padding: 0px 1rem;
}
