.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 10px;
  display: flex;
}

.addButton {
  display: flex;
  margin-left: 20%;
  margin-bottom: 10px;
}

.removeButton {
  display: flex;
  margin-bottom: 10px;
  margin-left: 40%;
}

.footer {
  position: sticky;
  bottom: 0;
}
